<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tabula</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- GOOGLE FONT -->
    <!-- MONTSERRAT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- ROBOTO -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- FONT AWSOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../../assets/css/index.css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="header__container container-fluid w-75 mx-auto">
        <nav class="navbar navbar-expand-xl w-100 mx-auto">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"
              ><img
                src="../../assets/images/crest.png"
                class="img-fluid"
                alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"
                ><i class="fas fa-bars"></i
              ></span>
            </button>
            <div
              class="
                header__navbar
                collapse
                navbar-collapse
                justify-content-end
                mx-auto
              "
              id="navbarSupportedContent"
            >
              <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Shop</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Elements</a>
                </li>
              </ul>
            </div>
            <div
              class="
                header__social
                collapse
                navbar-collapse
                justify-content-around
              "
              id="navbarSupportedContent"
            >
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <div class="header__tel">
                    <a class="nav-link" aria-current="page" href="tel:+"
                      ><i class="fas fa-phone"></i>(+1) 555 234-8765</a
                    >
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"
                    ><i class="fab fa-facebook"></i
                  ></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- BANNER -->
    <section class="banner container-fluid py-5">
      <div class="banner__top">
        <img
          src="../../assets/images/yellow_top_wave_01.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="banner__content">
        <div
          class="
            banner__items
            w-75
            p-3
            mx-auto
            d-flex
            justify-content-around
            container-fluid
          "
        >
          <div class="d-flex align-items-center">
            <div class="banner__text px-5">
              <p>ABOUT US</p>
              <h1>The language teaching experts</h1>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="banner__img">
              <img
                src="../../assets/images/hero_team.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="banner__bottom">
        <img
          src="../../assets/images/Violet_top_left_wave.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </section>
    <!-- CAROUSEL -->
    <section class="carousel container-fluid">
        <div
          class="
            carousel__content
            w-75
            py-5
            mx-auto
            d-flex
            justify-content-around
            flex-wrap
          "
          id="dflexTeacher"
        ></div>
      </div>
      <div class="carousel__bottom">
        <img
          src="../../assets/images/Wave_White_bottom_right_shape_01.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </section>
    <!-- SUBMIT -->
    <section class="submit container-fluid">
      <div class="submit__content row justify-content-center py-3 mx-auto">
        <div class="submit__img col-md-7 col-xl-6">
          <img
            src="../../assets/images/conatct_inner.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="submit__form col-md-12 w-100 p-3 col-xl-6">
          <div class="submit__text">
            <h1 class="pb-5">Find Your Course</h1>
            <div class="submit__top">
              <form>
                <div class="row">
                  <div class="col">
                    <i class="far fa-user"></i>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                    />
                  </div>
                  <div class="col">
                    <i class="far fa-envelope"></i>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="E-mail"
                    />
                  </div>
                </div>
              </form>
            </div>
            <div class="submit__center pt-3">
              <div class="form-group">
                <i class="fas fa-graduation-cap"></i>
                <div class="submit__select">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>English</option>
                    <option>French</option>
                    <option>Spanish</option>
                    <option>German</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="submit__bottom pb-5">
              <div class="form-group">
                <i class="far fa-comment-dots"></i>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="5"
                  placeholder="Message"
                ></textarea>
              </div>
            </div>
            <div class="submit__button pb-3">
              <button class="px-5 py-2">SEND</button>
            </div>
          </div>
        </div>
      </div>
      <div class="submit__wavebottom">
        <img
          src="../../assets/images/accent_bottom_wave_01.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </section>
    <!-- FOOTER -->
    <footer class="container-fluid">
      <div class="footer__background">
        <img
          src="../../assets/images/footer_background.jpg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="footer__content row justify-content-around w-75 mx-auto py-5">
        <div class="footer__contact col-sm-6 col-lg-3">
          <h2>Contact us</h2>
          <div class="footer__top">
            <ul>
              <li>
                <i class="fas fa-map-marker-alt"></i>Franklin St, Greenpoint Ave
              </li>
              <li><i class="fas fa-phone"></i>+2342 5446 67</li>
              <li><i class="far fa-clock"></i>Monday - Friday: 8 AM - 5 PM</li>
            </ul>
          </div>
          <div class="footer__bottom">
            <ul>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__links col-sm-6 col-lg-3">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Schedule</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="footer__about col-sm-6 col-lg-3">
          <h2>About</h2>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Get Quote</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer__news col-sm-6 col-lg-3">
          <h2>Newsletter</h2>
          <div class="footer__form">
            <form>
              <div class="form-group pr-5">
                <input
                  type="text"
                  class="form-control my-3"
                  id="formGroupEmail"
                  placeholder="Your email"
                />
                <button class="py-2 btn btn-light">SUBSCRIBE</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../../assets/js/shrinkNavBar.js"></script>
    <script src="../services/NguoiDungService.js"></script>
    <script src="../controllers/main.js"></script>
  </body>
</html>
